@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
}

a:link { text-decoration: none;
          padding: 2rem; }


a:visited { text-decoration: none; }
    
    
a:hover { text-decoration: none; }
    
    
a:active { text-decoration: none; }

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-image: url("background.jpg");
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: -20rem;
}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;

}

.countdown-container {
    display: flex;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.2rem;
}